.nav {
  background-color: #020122;
  height: 15vh;
}

.logo {
  color: whitesmoke;
  font-weight: 700;
  font-size: 41px;
}

.list {
  color: white;
  font-size: 23px;
  padding: 0px 100px;
}

.home {
  color: orangered;
}

.main {
  background-color: #020122;
  width: 100%;
  height: 40vh;
}

.main-sec {
  display: flex;
  justify-content: center;
}

.par {
  width: 30%;
  margin-top: 30px;
  padding-top : 30px
}

.myname {
  font-size: 40px;
  color: white;
  text-align: center;

}

.myname span {
  color: orangered;
}

.picture {
  margin-right: 50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 5%;
}

.def {
  color: wheat;
  font-weight: 400;
  text-align: center;
}

.parag {
  color: whitesmoke;
  font-size: 11px;
  text-align: center;
}
